/* Estilos generales */
.contact {
  position: relative;
  max-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
  color: #333;
}

.contact::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('public/assets/images/images.jpeg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px) brightness(1.2);
  opacity: 0.2;
  z-index: -1;
}

/* Estilos de contenedores */
.contact-header {
  
  margin-bottom: 30px;
  margin-left: -1220px; /* Igual que en Skills y Projects */
  font-family: "Atma", system-ui; /* Aplicar la fuente */
}

.contact-title-my {
  font-family: "Atma", Cursive;
  color: #000; /* Negro */
}

.contact-title-contact {
  color: #ff6600;
}

.contact-content {
  text-align: center;
  margin-top: 200px;
}

.contact-description {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  font-family: "Atma", system-ui;
}

.contact-invite {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 60px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.contact-icon {
  font-size: 3rem;
  color: #ff6600;
  transition: color 0.3s ease;
}

.contact-icon:hover {
  color: #333;
}

.contact-thankyou {
  font-size: 1.9rem;
  color: #ff6600;
  margin-top: 350px;
  margin-right: -40px;
}

/* Estilo para la flecha */
.contact-arrow {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  color: #ff6600;
  opacity: 0;
  animation: moveToEmailLink 2.5s ease-in-out forwards;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

/* Animación para mover la flecha */
@keyframes moveToEmailLink {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(800px, -50%) scale(1);
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .contact {
    padding: 20px;
  }

  .contact-title-my {
    font-size: 2rem;
  }

  .contact-title-contact {
    font-size: 2.5rem;
  }

  .contact-description {
    font-size: 1.2rem;
  }

  .contact-icons {
    flex-wrap: wrap;
    gap: 15px;
  }

  .contact-thankyou {
    font-size: 1rem;
  }
}