h-screen {
  height: 100vh;
}

.home {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-logo {
  position: absolute;
  top: -40px;
  left: 130px;
  width: 50px; /* Ajusta el tamaño del logo */
  height: 50px; /* Ajusta el tamaño del logo */
  border-radius: 10px; /* Esquinas redondeadas */
}

.home img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.home h1 {
  font-size: 2.5rem;
  margin: 20px 0;
  color: #ff6600;
}

.home h2 {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #ff6600;
}

.home p {
  color: #333;
  font-size: 1rem;
  margin: 10px 0;
  max-width: 800px; /* Controla el ancho del contenedor del texto */
  line-height: 1.5; /* Ajusta la altura de línea para mejorar la legibilidad */
}

.home .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.home .buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.home .buttons a:hover {
  background-color: #d48957;
}

.home .buttons a svg {
  margin-right: 10px; /* Agrega un margen entre el icono y el texto */
}

.home .buttons .secondary-btn {
  background-color: #ff6600;
}

.home .buttons .secondary-btn:hover {
  background-color: #d48957;
}

.main-btn {
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.main-btn:hover {
  background-color: #e55d00;
}

.projects-carousel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.projects-carousel {
  display: flex;
  overflow: hidden;
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  flex: 1;
}

.project-card {
  flex: 0 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
  height: 350px; /* Aumenta la altura de las tarjetas */
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 200px; /* Aumenta la altura de las imágenes */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-title {
  font-size: 1.2rem;
  color: #ff6600;
}

.carousel-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  color: #ff6600;
  cursor: pointer;
  transition: color 0.3s;
}

.carousel-arrow:hover {
  color: #d48957;
}

.left-arrow {
  margin-right: 10px;
}

.right-arrow {
  margin-left: 10px;
}