.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; /* Espacio superior para el título */
}

.projects-title {
  font-size: 2.5rem;
  color: #ff6600;
  margin-bottom: 20px;
  align-self: flex-start; /* Posiciona el título a la izquierda */
  margin-left: 50px; /* Ajusta la distancia desde el borde izquierdo */
}

.projects-carousel-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  height: calc(100vh - 150px); /* Ajusta la altura para centrar las tarjetas verticalmente */
  position: relative;
  margin-top: -100px;
  
}

.projects-carousel {
  display: flex;
  overflow: hidden;
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  flex: 1;
}

.project-card {
  flex: 0 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
  height: 350px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-title {
  font-size: 1.2rem;
  color: #ff6600;
}

.carousel-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  color: #ff6600;
  cursor: pointer;
  transition: color 0.3s;
}

.carousel-arrow:hover {
  color: #d48957;
}

.left-arrow {
  margin-right: 10px;
}

.right-arrow {
  margin-left: 10px;
}
