.skills {
  padding: 20px;
}

.skills-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff6600;
  margin-left: 10px;
}

.skills-subtitle {
  font-size: 1.5rem;
  margin-left: -300px;
  color: #ff6600;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section {
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  justify-items: center;
}

.skill-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(255, 102, 0, 0.7);
}

.skill-card img {
  max-width: 70px;
  max-height: 70px;
}

body.dark-mode .skill-card {
  background: #333;
  color: #fff;
  border-color: #444;
}
