.skills {
  position: relative;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
  color: #fff;
}

.skills::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px) brightness(1.2); /* Difumina y aclara la imagen */
  opacity: 0.2; /* Hace que la imagen sea muy clara */
  z-index: -1;
}

.skills-header {
  margin-bottom: 30px;
  margin-left: -1220px;
}

.skills-title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.skills-title-my {
  color: #000; /* Negro */
}

.skills-title-skills {
  color: #ff6600; /* Naranja */
}

.skills-title-highlight {
  font-family: "Cursive", serif;
  font-size: 5rem;
  color: #000;
}

.skills-subtitle {
  font-size: 1.5rem;
  margin-left: -300px;
  color: #ff6600;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section {
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
  width: 90%;
  max-width: 1200px;
}

.skills-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 150px;
  margin-bottom:0px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.skill-card img {
  max-width: 70px;
  max-height: 70px;
}

.skill-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 150px;
  animation: fadeInOut 16s infinite;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.skill-icon-container:hover {
  filter: grayscale(0%);
}

.skill-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Animación para encender los íconos */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animación para encender y apagar los íconos */
@keyframes fadeInOut {
  0%, 12.5% {
    filter: grayscale(0%);
  }
  25%, 100% {
    filter: grayscale(100%);
  }
}
