/* Estilos específicos del botón */
.theme-toggle-icon {
  position: fixed;
  bottom: 40px;
  right: 45px;
  font-size: 2.5rem; /* Tamaño del ícono */
  color: var(--primary-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

.theme-toggle-icon:hover {
  color: var(--secondary-color);
}